fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1
numpy==1.26.4
opencv-python==4.11.0.86
torch==2.5.1+cu121
ultralytics==8.3.74
requests==2.32.3
matplotlib==3.10.0
influxdb-client==1.48.0
pandas==2.2.3
Flask==3.1.0